
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hey</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>You have applied for {{}} and application sent to {{}}.</p>
  <p>Thank you! </p>
</body>
</html>