
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <style>
    h2{
        color: teal;
    }
    span{
        font-weight: bold;
        color: blueviolet;
    }
  </style>
  <title>User Created</title>
</head>
<body>
  <h2>Hello, {{name}} to the Permissy </h2>
  <p>New Account Created. We hope you enjoy your experience here for <span>Shri Guru Gobind Singhji Institute of Engineering and Technology</span></p>
  <p>Your username is: {{username}}</p>
  <p>Your Designation: {{des}}</p>
  <br>
  <p>For any query or feedback </p>
  <p>Contact: <span class="mail">2710kklyani@gmail.com</span></p>
  <p>Thank you! </p>
</body>
</html>